﻿@model  SolarMonitoring.ViewModels.WeatherStation.AirHumidityViewModel

@{
    ViewBag.Title = "AirHumidity";
}

<h2>AirHumidity</h2>

<p>Showing todays AirHumidity: @DateTime.Today.ToShortDateString() </p>

@Html.Partial("_EnergyChart", Model.HighChart)