﻿@model  SolarMonitoring.ViewModels.WeatherStation.AirPressureViewModel

@{
    ViewBag.Title = "AirPressure";
}

<h2>AirTemperature</h2>

<p>Showing todays AirPressures: @DateTime.Today.ToShortDateString() </p>

@Html.Partial("_EnergyChart", Model.HighChart)