﻿@model  SolarMonitoring.ViewModels.WeatherStation.AirTemperatureViewModel

@{
    ViewBag.Title = "AirTemperature";
}

<h2>AirTemperature</h2>

<p>Showing todays AirTemperatures: @DateTime.Today.ToShortDateString() </p>

@Html.Partial("_EnergyChart", Model.HighChart)