﻿@model  SolarMonitoring.ViewModels.WeatherStation.ExposureRateViewModel

@{
    ViewBag.Title = "ExposureRate";
}

<h2>ExposureRate</h2>

<p>Showing todays ExposureRate: @DateTime.Today.ToShortDateString() </p>

@Html.Partial("_EnergyChart", Model.HighChart)