﻿@model  SolarMonitoring.ViewModels.WeatherStation.IlluminanceViewModel

@{
    ViewBag.Title = "Illuminance";
}

<h2>Illuminance</h2>

<p>Showing todays Illuminance: @DateTime.Today.ToShortDateString() </p>

@Html.Partial("_EnergyChart", Model.HighChart)