﻿@model SolarMonitoring.ViewModels.WeatherStation.WeatherDataViewModel

@{
    ViewBag.Title = "WeatherStation";
}

<h2>WeatherStation - Current Data</h2>

Current Measurement (@Html.DisplayFor(model => model.WeatherData.TimeStamp))

<div class="display-label">
    @Html.DisplayNameFor(model => model.WeatherData.ExposureRateOne)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.WeatherData.ExposureRateOne) W/m² @Html.ActionLink("mehr...", "ExposureRate", "WeatherStation")
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.WeatherData.ExposureRateTwo) 
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.WeatherData.ExposureRateTwo) W/m² @Html.ActionLink("mehr...", "ExposureRate", "WeatherStation")
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.WeatherData.Illuminance) 
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.WeatherData.Illuminance) kLux @Html.ActionLink("mehr...", "Illuminance", "WeatherStation")
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.WeatherData.WindSpeed)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.WeatherData.WindSpeed) m/s @Html.ActionLink("mehr...", "WindSpeed", "WeatherStation")
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.WeatherData.WindDirection)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.WeatherData.WindDirection) ° 
</div>
<br/>

<div class="display-label">
    @Html.DisplayNameFor(model => model.WeatherData.AirTemperature)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.WeatherData.AirTemperature) °C @Html.ActionLink("mehr...", "AirTemperature", "WeatherStation")
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.WeatherData.AirPressure)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.WeatherData.AirPressure) hPa @Html.ActionLink("mehr...", "AirPressure", "WeatherStation")
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.WeatherData.AirHumidity)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.WeatherData.AirHumidity) %  @Html.ActionLink("mehr...", "AirHumidity", "WeatherStation")
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.WeatherData.Precipitation)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.WeatherData.Precipitation) mm @Html.ActionLink("mehr...", "Precipitation", "WeatherStation")
</div>
<br/>