﻿@model  SolarMonitoring.ViewModels.WeatherStation.PrecipitationViewModel

@{
    ViewBag.Title = "Precipitation";
}

<h2>Precipitation</h2>

<p>Showing todays Precipitation: @DateTime.Today.ToShortDateString() </p>

@Html.Partial("_EnergyChart", Model.HighChart)