﻿@model  SolarMonitoring.ViewModels.WeatherStation.WindSpeedViewModel

@{
    ViewBag.Title = "WindSpeed";
}

<h2>WindSpeed</h2>

<p>Showing todays WindSpeed: @DateTime.Today.ToShortDateString() </p>

@Html.Partial("_EnergyChart", Model.HighChart)