﻿                <div id="footer">
                    <!--PageFooterFmt-->
                    <ul><li><a class='wikilink' href='http://einleuchtend.org/index.php/Legal/Imprint'>Impressum</a>
                        </li><li>|
                             </li><li><a class='wikilink' href='http://einleuchtend.org/index.php/About/Satzung'>Vereinssatzung</a>
                                  </li><li>|
                                       </li><li><a class='wikilink' href='http://einleuchtend.org/index.php/Contact/Contact'>Kontakt</a>
                                            </li><li>|
                                                 </li><li><a class='wikilink' href='http://einleuchtend.org/index.php/Start/Start?action=edit'>Admin</a>
                                                      </li></ul>

                    <!--/PageFooterFmt-->
                </div>