﻿
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>einleuchtend e.V.: @ViewBag.Title </title>
        <link rel='stylesheet' href='http://einleuchtend.org/pub/skins/einleuchtend/layout.css' type='text/css' />
        <link rel="shortcut icon" href="http://einleuchtend.org/pub/skins/einleuchtend/images/favicon.ico" type="image/x-icon" />
        <!--HTMLHeader--><style type='text/css'><!--
                             .editconflict {
                                 color: green;
                                 font-style: italic;
                                 margin-top: 1.33em;
                                 margin-bottom: 1.33em;
                             }

                             table.markup {
                                 border: 2px dotted #ccf;
                                 width: 90%;
                             }

                             td.markup1, td.markup2 {
                                 padding-left: 10px;
                                 padding-right: 10px;
                             }

                             table.vert td.markup1 { border-bottom: 1px solid #ccf; }

                             table.horiz td.markup1 {
                                 width: 23em;
                                 border-right: 1px solid #ccf;
                             }

                             table.markup caption { text-align: left; }

                             div.faq p, div.faq pre { margin-left: 2em; }

                             div.faq p.question {
                                 margin: 1em 0 0.75em 0;
                                 font-weight: bold;
                             }

                             div.faqtoc div.faq * { display: none; }

                             div.faqtoc div.faq p.question {
                                 display: block;
                                 font-weight: normal;
                                 margin: 0.5em 0 0.5em 20px;
                                 line-height: normal;
                             }

                             div.faqtoc div.faq p.question * { display: inline; }

                             .frame {
                                 border: 1px solid #cccccc;
                                 padding: 4px;
                                 background-color: #f9f9f9;
                             }

                             .lfloat {
                                 float: left;
                                 margin-right: 0.5em;
                             }

                             .rfloat {
                                 float: right;
                                 margin-left: 0.5em;
                             }

                             a.varlink { text-decoration: none; }

                         --></style>
        @Scripts.Render("~/bundles/jquery")
       

        @RenderSection("scripts",
                       false)
    </head>
    <body>

        <div id="container">
            <div id="header">
                <div id="header-top">
                    <div class="header-left">
                        <a href="http://einleuchtend.org/index.php"><img src="http://einleuchtend.org/pub/skins/einleuchtend/images/title.png" alt="einleuchtend e.V." title="einleuchtend e.V." /></a>
                        <h1>einleuchtend e.V.</h1>
                        <h2>Studierendeninitiative f&uuml;r Nachhaltigkeit an der HTW Berlin</h2>
                    </div>
                </div>
                <div id="header-bottom">
                        @Html.Partial("_SiteNav")
                </div>
            </div>
	
            <!--PageLeftFmt--><!--/PageLeftFmt-->
            <div id="content-box" style="width: 100%">
                <div id="content" style="width: 95%">
                    <!--PageText-->
                    @RenderBody()
	
                </div>

	        @Html.Partial("_Footer")

            </div>
        </div>
    </body>
</html>