﻿ <div id="sitenav">
     <ul style="margin-left: 10px"><li style="border: 0"><a href="">Start</a></li></ul>
     <ul><li>@Html.ActionLink("WeatherStation",
                              "Index",
                              "WeatherStation")
         </li>
         <li>
             <a class='wikilink' href='http://einleuchtend.org/index.php/About/About'>einleuchtend e.V.</a>
         </li>

     </ul>

 </div>